* {
    margin: 0;
}

/*Fuentes de toda la pagina web*/
@font-face {
    font-family: "BrittanySignature";
    src: url("../fonts/BrittanySignature.ttf");
}

@font-face {
    font-family: "CorbelBlack";
    src: url("../fonts/corbelb.ttf");
}

@font-face {
    font-family: "CorbelLight";
    src: url("../fonts/corbeli.ttf");
}

ul {
    list-style-type: none;
}

.linkInterno {
    color: #ec8b61;
}

h2{
    font-family: "CorbelLight";
}




/* nuevo footer con bootstrap */
.barraMenu{
    background-color: #11979B;
    background-size: cover;
    font-family: "BrittanySignature" ;
    font-size: 30px;
    padding: 10px;
    color: white;

}

.barraMenu:hover {
    background-image: linear-gradient(to right, #11979B, #87119B, #ec8b61);
  
}

.btnHover {
    font-family: "CorbelBlack";
    font-size: 15px;
    color: white;
    padding: 10px;
    background-color: #87119b;
    border: #87119b 3px solid;
    border-radius: 50px;
    margin: 3px;
    transition-duration: 1s;
}

.btnHover:hover {
    background-color: #ec8b61;
    color: black;
    border: solid #ec8b61 3px;
    
}

.footer{
    background-image: linear-gradient(to right, #11979B 50%, #87119B, #ec8b61);
    color: white;
    font-family: "CorbelBlack";
    font-size: 16px;
}

.productosDestacados{
    margin-top: 50px;

}

.comoComprar{
    margin-top: 50px;
    margin-bottom: 100px;
    
}


.boton {
    margin: 10px;
    padding: 5px;
    background-color: white;
    border: #87119b 3px solid;
    border-radius: 20px;
    font-family: "CorbelBlack";
}

.CardA{
    background-color: #11979B;
    color: white;
}

.CardB{
    background-color: #87119B;
    color: white;
}

.CardC{
    background-color: #ec8b61;
    color: white;
}

.precio{
    font-family: "CorbelBlack";
    font-size: 30px;
}

.tituloCard{
    font-family: "CorbelBlack";
    font-size: 25px;
}

.carrusel{
    width: 500px;
    height: auto;
    padding: 5px;
    margin-bottom: 100px;
}

.verMas{
    font-family: "CorbelLight";
    color: white;
    font-size: 12px;
}

.textoCard{
    font-family: "CorbelLight";
    font-size: 18px;
}

.pInfo{
    font-family: "CorbelLight";
    font-size: 18px; 
}

.tituloPInfo{
    font-family: "CorbelBlack";
}



/* --------------------------------------------------------------------------------------------------------------------------- */



/*ingresa a tu cuenta*/
.mainIngresa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formCuenta {
    display: flex;
    flex-direction: column;
    border: #11979B 3px solid;
    border-radius: 130px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "CorbelLight";
    font-size: 16px;

}


/*como comprar*/
ol {
    font-family: "CorbelLight";
    font-size: 30px;
    margin-top: 25px;
    margin-left: 20%;
}

/*PAGINA CONTACTO*/
.mainContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContacto {
    display: flex;
    flex-direction: column;
    border: #11979B 3px solid;
    border-radius: 200px;
    padding: 70px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: "CorbelLight";
    font-size: 16px;
}

.linksContacto {
    font-family: "corbelLight";
    font-size: 20px;
    margin-top: 20px;

}

.animacionTxt{
    animation-duration: 2s;
}
