@font-face {
    font-family: "Brittany";
    src: url(/fonts/BrittanySignature.ttf);
}
@font-face {
    font-family: "corbelL";
    src: url(/fonts/corbeli.ttf);
}
@font-face {
    font-family: "corbelB";
    src: url(/fonts/corbelb.ttf);
}

$font-cursiva: font-family "brittany";
$tipo-titulo: font-family "corbelB";
$tipo-texto: font-family "corbelL";



